apiVersion: batch/v1
kind: Job
metadata:
  name: sysbench-random-read-rwo
  namespace: "{{ storage_perf_namespace }}"
spec:
  template:
    metadata:
      name: sysbench-random-read-rwo
    spec:
      containers:
      - name: sysbench-random-read-rwo
        image: {{ imageurl }}
        command: ["python3"]
        args:
          - '/tmp/sysbench.py'
          - '{{ rread_threads }}'
          - '{{ rread_fileTotalSize }}'
          - '{{ rread_fileNum }}'
          - 'rndrd'
          - '{{ rread_fileBlockSize }}'
          - 'async'
          - '0'
          - 'dsync'
          - '{{ cluster_environment }}'
          - '{{ cluster_name }}'
          - '{{ storage_type }}'
          - 'pvc-sysbench-rwo'
        volumeMounts:
        - name: tmp-store
          mountPath: /tmp/data
      volumes:
      - name: tmp-store
        persistentVolumeClaim:
          claimName: pvc-sysbench-rwo
          readOnly: false
      restartPolicy: Never