apiVersion: v1
kind: ConfigMap
metadata:
  name: consumer-nocheck-cm
data:
  consume.sh: |
    echo "Reading checksums"
    md5sum $FILE_NAME > /tmp/data/consumer.md5
    checksum=$(cat /tmp/data/consumer.md5)
    echo "current checksum $checksum"
