apiVersion: v1
kind: ConfigMap
metadata:
  name: producer-cm
data:
  produce.sh: |
    echo "writing to file $FILE_NAME"
    dd if=/dev/urandom of=$FILE_NAME bs=2M count=400 {{ options }}
    md5sum $FILE_NAME > /tmp/data/producer.md5
  produce-subpath.sh: |
    echo "writing to file $FILE_NAME"
    mkdir -p /tmp/data/$DIR_NAME
    dd if=/dev/urandom of=/tmp/data/$DIR_NAME/$FILE_NAME bs=2M count=400 {{ options }}
    md5sum /tmp/data/$DIR_NAME/$FILE_NAME > /tmp/data/$DIR_NAME/producer.md5
  create-file-gid.sh: |
    set -x
    id
    ls -la /home/cpuser/$FILE_NAME_GID
    set -e
    echo "copying to file $FILE_NAME_GID"
    cp -p /home/cpuser/$FILE_NAME_GID /tmp/data/$FILE_NAME_GID
    ls -la /tmp/data/$FILE_NAME_GID
